{% load static %}
<div class="container_form">
    <form action="/submit_sequence_query" method="post" enctype="multipart/form-data">
        {% csrf_token %}
         <label for="country">Program</label>
        <select id="programe" name="blast_program" required>
            <option  disabled>chose the programe you will use</option>
            <option value="blastp">blastp (programs search protein databases using a protein query)</option>
            <option selected value="blastn">blastn (programs search nucleotide databases using a nucleotide query.)</option>
            <option value="blastx">blastx (search translated nucleotide databases using a translated nucleotide query.)</option>
            <option value="tblastn"> tblastn (search protein databases using a translated nucleotide query)</option>
            <option value="tblastx">tblastx (search translated nucleotide databases using a translated nucleotide query)</option>
        
        </select>
        <label for="subject">Enter accession number(s), gi(s), or FASTA sequence(s)</label>
        <div style="display: flex;">
            <textarea id="subject" name="sequence_string" style="height:auto"></textarea>
            <div style="margin-left: 20px;">
                <label for="from">From</label>
                <input min="0" type="number" name="from" placeholder="" style="display: block; margin-bottom: 10px;">
                <label for="to">To</label>
                <input min="1" type="number" name="to" placeholder="" style="display: block;">
            </div>
        </div>
        <label for="file">Or choose a file</label>
        <input type="file" id="file" name="file_fasta" accept=".fasta" style="background-color: white">

        <label for="jtitle">Job Title</label>
        <input type="text" id="jtitle" name="jtitle" placeholder="">

        
       
        

        <label for="country">Database</label>
        <select id="database" name="blast_database" required>
            <option  disabled>chose the database you will use</option>
            <option value="nr" selected>nr</option>
            <option value="nt">nt</option>
            <option value="refseq_protein">refseq_protein</option>
            <option value="refseq_rna">refseq_rna</option>
            <option value="swissprot">swissprot</option>
            <option value="pdb">pdb</option>
            <option value="env_nr">env_nr</option>
            <option value="env_nt">env_nt</option>
            <option value="pat">pat</option>
            <option value="refseq_genomic">refseq_genomic</option>
            
            
            
            
            
        </select>


        <input type="submit" value="Submit">
    </form>
</div>
<script src="https://zaaim.me/static/js/submit/submit_query.js"></script>
<script src="https://zaaim.me/static/js/toastr.js"></script>
