
#export-button {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #333;
    border-radius: 4px
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 0.6;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px
}


td, th {
    text-align: center;
    vertical-align: middle !important;
    padding: 10px; /* Add padding */
}

.truncate {
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left !important;
}


/* Add this rule for a modern look */
.table {
    border-collapse: separate;
    border-spacing: 0 15px;
    margin: 20px; /* Add margin */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow */
}

.table thead tr {
    background-color: none;
}

.table th {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.table th, .table td {
    border: none;
}

.table tbody tr {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {
    max-width: 100%;
}

.hidden {
    display: none;
}
